source code/Node-red/flows.json
[
    {
        "id": "619f404109e8076a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae2f6b3397560f71",
        "type": "group",
        "z": "619f404109e8076a",
        "name": "api line and gemini",
        "style": {
            "label": true
        },
        "nodes": [
            "564e4ed41e2069a9",
            "9822a1ffb85127ac",
            "ab6d43238ce870d9",
            "c0f268cb17c69dd9",
            "69291a8d10b4124e",
            "d5ead17521e7ee29",
            "bc0e7d07ede6f5c4",
            "65e92bd33309e7d3",
            "863e8fbe1811c156",
            "dc7c125d70c46c50",
            "16a93045063b5366",
            "76ec0ca5c4b4f858"
        ],
        "x": 254,
        "y": 479,
        "w": 1772,
        "h": 262
    },
    {
        "id": "564e4ed41e2069a9",
        "type": "function",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "Format payload",
        "func": "msg.payload = {\n    \"contents\": [{ \"parts\": [{ \"text\": msg.question }] }]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 560,
        "wires": [
            [
                "9822a1ffb85127ac"
            ]
        ]
    },
    {
        "id": "9822a1ffb85127ac",
        "type": "http request",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=AIzaSyDwwQLsD5zugz-S4IuiB0tl0O_2IzDxGSk",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "bc0e7d07ede6f5c4"
            ]
        ]
    },
    {
        "id": "ab6d43238ce870d9",
        "type": "mqtt in",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "msg.question",
        "topic": "b6610502226/ai",
        "qos": "0",
        "datatype": "utf8",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c0f268cb17c69dd9"
            ]
        ]
    },
    {
        "id": "c0f268cb17c69dd9",
        "type": "function",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "function 1",
        "func": "// Function Node code\nmsg.question = msg.ai.substring(msg.payload.indexOf(\"question:\"));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "564e4ed41e2069a9"
            ]
        ]
    },
    {
        "id": "69291a8d10b4124e",
        "type": "function",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "function 2",
        "func": "msg.headers = { 'content-type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer E9Dt02dMLW0NJ3AbjPNNSAMyIT4EuZqJNZsqKLHBrp9' };\nmsg.payload = { \"message\": msg.question };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 680,
        "wires": [
            [
                "d5ead17521e7ee29"
            ]
        ]
    },
    {
        "id": "d5ead17521e7ee29",
        "type": "http request",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bc0e7d07ede6f5c4",
        "type": "function",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "function 5",
        "func": "const data = JSON.parse(msg.payload);\nconst desiredParagraph = 2; // Replace 2 with the desired paragraph number\nconst paragraphText = data.candidates[0].content.parts[0].text;\n// Correct:\nmsg.question = paragraphText;\n// node.send(msg);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 560,
        "wires": [
            [
                "69291a8d10b4124e",
                "76ec0ca5c4b4f858"
            ]
        ]
    },
    {
        "id": "65e92bd33309e7d3",
        "type": "mqtt in",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "",
        "topic": "b6610502226/TEXT/MOSS",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 620,
        "wires": [
            [
                "863e8fbe1811c156"
            ]
        ]
    },
    {
        "id": "863e8fbe1811c156",
        "type": "function",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "function 7",
        "func": "msg.question = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "69291a8d10b4124e"
            ]
        ]
    },
    {
        "id": "dc7c125d70c46c50",
        "type": "mqtt in",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "",
        "topic": "b6610502226/qc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 700,
        "wires": [
            [
                "863e8fbe1811c156"
            ]
        ]
    },
    {
        "id": "16a93045063b5366",
        "type": "link in",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "link in 1",
        "links": [
            "ab8d47670d0e177a"
        ],
        "x": 385,
        "y": 520,
        "wires": [
            [
                "c0f268cb17c69dd9"
            ]
        ]
    },
    {
        "id": "76ec0ca5c4b4f858",
        "type": "link out",
        "z": "619f404109e8076a",
        "g": "ae2f6b3397560f71",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "c706fe9e080303dd"
        ],
        "x": 1405,
        "y": 640,
        "wires": []
    },
    {
        "id": "84d5462c32478ec4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]