Node-red/flows2.json
[
    {
        "id": "d397759a8a2699b1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49c78d5bba0ad3f7",
        "type": "group",
        "z": "d397759a8a2699b1",
        "name": "timer",
        "style": {
            "label": true
        },
        "nodes": [
            "d4eb819e05b7df1b",
            "295a6ae5936a6688",
            "2a46857df7b0e147",
            "a2ae2933e301587d",
            "5b618286f79fd634",
            "d4b771b79d7a34dc",
            "cbbbae394190e82e"
        ],
        "x": 394,
        "y": 1239,
        "w": 1352,
        "h": 202
    },
    {
        "id": "bcd132e5d09884aa",
        "type": "group",
        "z": "d397759a8a2699b1",
        "name": "template",
        "style": {
            "label": true
        },
        "nodes": [
            "4855db70cd9d9c74",
            "92fc2de510dc9b13",
            "1068ce6474c848ce",
            "db716a1f74f1c27a",
            "f37e9ddfe9d67a0f",
            "8787eb0f2359c171",
            "ba7d552933e0086e",
            "425ca735c1bbf4c4",
            "b20a19081a9e5542",
            "56c3f52365d9da56",
            "f51269bff761a631",
            "6c22b03b10f076b5",
            "6d135975029ca6d6",
            "2a2ca22634355427",
            "ab8d47670d0e177a",
            "c706fe9e080303dd",
            "9842f6bcaffa2905",
            "9402cb71b2ddfb21",
            "26f3388fc17ef674",
            "4743cffcdf4a50fd"
        ],
        "x": 374,
        "y": 519,
        "w": 1472,
        "h": 642
    },
    {
        "id": "4855db70cd9d9c74",
        "type": "ui_template",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "group": "4b364be228b46755",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 10,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Chat Interface</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 0;\n        }\n\n        .chat-container {\n            width: 600px;\n            margin: 50px auto;\n            border: 1px solid #ccc;\n            border-radius: 10px;\n            overflow: hidden;\n            background-color: #fff;\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n        }\n        .chat-header {\n            background-color: #4CAF50;\n            color: white;\n            padding: 10px;\n            text-align: center;\n        }\n\n        .chat-messages {\n            height: 250px;\n            overflow-y: auto;\n            padding: 10px;\n        }\n\n        .message {\n            background-color: #f1f0f0;\n            padding: 10px;\n            color: black;\n            margin-bottom: 10px;\n            border-radius: 10px;\n            font-size: 14px;\n        }\n\n        .user-message {\n            background-color: #dcf8c6;\n            align-self: flex-end;\n        }\n\n        .user-message .message {\n            background-color: #dcf8c6;\n        }\n\n        .chat-input-container {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 10px;\n            border-top: 1px solid #ccc;\n        }\n\n        .chat-input {\n            flex: 1;\n            padding: 8px;\n            border: 1px solid #ccc;\n            border-radius: 5px;\n            font-size: 14px;\n            outline: none;\n        }\n\n        .send-btn {\n            padding: 8px 20px;\n            background-color: #4CAF50;\n            color: white;\n            border: none;\n            border-radius: 5px;\n            cursor: pointer;\n            font-size: 14px;\n        }\n\n        .send-btn:hover {\n            background-color: #45a049;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"chat-container\">\n        <div class=\"chat-header\">Chat Interface</div>\n        <div class=\"chat-messages\" id=\"chat-messages\">\n            <!-- Existing chat messages -->\n        </div>\n        <div class=\"chat-input-container\">\n            <input type=\"text\" id=\"message-input\" class=\"chat-input\" placeholder=\"Type your message...\">\n            <button onclick=\"sendMessage()\" class=\"send-btn\">Send</button>\n        </div>\n    </div>\n\n    <script>\n        function sendMessage() {\n            var message = document.getElementById('message-input').value;\n\n            // Send message to Node-RED server\n            fetch('/send-message', {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json'\n                },\n                body: JSON.stringify({ message: message })\n            }).then(response => {\n                if (response.ok) {\n                    console.log('Message sent successfully');\n                    // Optionally, clear input field after sending message\n                    document.getElementById('message-input').value = '';\n                    // Display the sent message in the chat interface\n                    displayMessage({ text: message });\n                } else {\n                    console.error('Failed to send message');\n                }\n            }).catch(error => {\n                console.error('Error:', error);\n            });\n        }\n\n        // Function to display a message in the chat interface\n        function displayMessage(message) {\n            var chatMessages = document.getElementById('chat-messages');\n            var div = document.createElement('div');\n            div.className = 'message';\n            div.textContent = message.text; // Access the text property of the message object\n            chatMessages.appendChild(div);\n        }\n    </script>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1760,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "92fc2de510dc9b13",
        "type": "http in",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "url": "/send-message",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "1068ce6474c848ce",
                "db716a1f74f1c27a"
            ]
        ]
    },
    {
        "id": "1068ce6474c848ce",
        "type": "function",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "function 6",
        "func": "// Function node code\nmsg.payload = JSON.stringify(msg.payload.message).slice(1,-1)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 760,
        "wires": [
            [
                "2a2ca22634355427",
                "26f3388fc17ef674"
            ]
        ]
    },
    {
        "id": "db716a1f74f1c27a",
        "type": "http response",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "f37e9ddfe9d67a0f",
        "type": "file",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "filename": "/Users/sirapatpanmoon/Desktop/test.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1440,
        "y": 1000,
        "wires": [
            [
                "8787eb0f2359c171"
            ]
        ]
    },
    {
        "id": "8787eb0f2359c171",
        "type": "file in",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "filename": "/Users/sirapatpanmoon/Desktop/test.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1460,
        "y": 1120,
        "wires": [
            [
                "4855db70cd9d9c74"
            ]
        ]
    },
    {
        "id": "d4eb819e05b7df1b",
        "type": "countdown",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "",
        "topic": "",
        "payloadTimerStart": "1",
        "payloadTimerStartType": "num",
        "payloadTimerStop": "0",
        "payloadTimerStopType": "num",
        "timer": "10",
        "resetWhileRunning": false,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": false,
        "x": 1330,
        "y": 1280,
        "wires": [
            [
                "2a46857df7b0e147"
            ],
            []
        ]
    },
    {
        "id": "295a6ae5936a6688",
        "type": "mqtt in",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "",
        "topic": "b6610502226/of",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "cbbbae394190e82e"
            ]
        ]
    },
    {
        "id": "2a46857df7b0e147",
        "type": "mqtt out",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "",
        "topic": "b6610502226/out_of",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84d5462c32478ec4",
        "x": 1620,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ba7d552933e0086e",
        "type": "mqtt in",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "topic": "b6610502226/TEXT/MOSS",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 980,
        "wires": [
            [
                "56c3f52365d9da56",
                "4743cffcdf4a50fd"
            ]
        ]
    },
    {
        "id": "425ca735c1bbf4c4",
        "type": "mqtt in",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "topic": "b6610502226/qc",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84d5462c32478ec4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "f51269bff761a631",
                "4743cffcdf4a50fd",
                "56c3f52365d9da56"
            ]
        ]
    },
    {
        "id": "b20a19081a9e5542",
        "type": "function",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "function 8",
        "func": "msg.payload = msg.payload + ' USER_1'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "f37e9ddfe9d67a0f"
            ]
        ]
    },
    {
        "id": "56c3f52365d9da56",
        "type": "function",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "function 9",
        "func": "msg.payload = msg.payload + ' USER_2'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1080,
        "wires": [
            [
                "f37e9ddfe9d67a0f"
            ]
        ]
    },
    {
        "id": "f51269bff761a631",
        "type": "ui_template",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "group": "4b364be228b46755",
        "name": "",
        "order": 3,
        "width": 8,
        "height": 5,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Block Chat</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f5f5f5;\n            /* Set a light background color for the body */\n        }\n\n        .chat-heade {\n            background-color: #4CAF50;\n            color: rgb(255, 255, 255);\n            padding: 10px 0;\n            /* Decreased padding for the user bar */\n            text-align: center;\n            border-top-left-radius: 5px;\n            border-top-right-radius: 5px;\n        }\n\n        .chat-containe {\n            max-width: 400px;\n            margin: 50px auto;\n            background-color: #fefffd;\n            /* Set a white background color for the chat container */\n            border: 1px solid #a9a1a1;\n            border-radius: 5px;\n            overflow-y: auto;\n            /* Added to enable vertical scrolling */\n            max-height: 300px;\n            /* Added to limit the height of the container */\n        }\n\n        .chat-messag,\n        .user-box {\n            margin-bottom: 10px;\n            /* Increase margin-bottom to separate messages more */\n            margin-left: 20px;\n            margin-right: 20px;\n            padding: 15px;\n            border-radius: 5px;\n            background-color: #7ad33a;\n            /* Set a light blue background color for chat messages */\n            max-width: fit-content;\n            /* Set max-width to fit the content */\n            display: flex;\n            /* Use flexbox */\n            align-items: center;\n            /* Center-align vertically */\n            word-wrap: break-word;\n            /* Wrap long words to prevent overflow */\n        }\n\n        .info {\n            background-color: #addbae;\n            color: rgb(0, 0, 0);\n            border-radius: 5px;\n            padding: 10px;\n            /* Adjusted padding for better spacing */\n            margin-bottom: 15px;\n            /* Increased margin bottom for better separation between messages */\n            text-align: center;\n            /* Center-align the payload text */\n            max-width: fit-content;\n            /* Set max-width to fit the content */\n            display: inline-block;\n            /* Make it follow text length */\n        }\n\n        .header-gap {\n            height: 20px;\n            /* Adjust the height of the gap */\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"chat-containe\">\n        <div class=\"chat-heade\">Chat USER_1 Interface</div>\n        <div class=\"header-gap\"></div>\n        <!-- <div class=\"user-box\">USER1:</div> -->\n        <!-- <div class=\"chat-message info\">what is this</div> -->\n        <div class=\"chat-messag info\">{{msg.payload}}</div>\n    </div>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6c22b03b10f076b5",
        "type": "mqtt out",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "topic": "b6610502226/ad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84d5462c32478ec4",
        "x": 1430,
        "y": 740,
        "wires": []
    },
    {
        "id": "6d135975029ca6d6",
        "type": "ui_template",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "group": "4b364be228b46755",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 5,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Block Chat</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f5f5f5;\n            /* Set a light background color for the body */\n        }\n\n        .chat-heade {\n            background-color: #4CAF50;\n            color: rgb(255, 255, 255);\n            padding: 10px 0;\n            /* Decreased padding for the user bar */\n            text-align: center;\n            border-top-left-radius: 5px;\n            border-top-right-radius: 5px;\n        }\n\n        .chat-contain {\n            max-width: 400px;\n            margin: 50px auto;\n            background-color: #fefffd;\n            /* Set a white background color for the chat container */\n            border: 1px solid #a9a1a1;\n            border-radius: 5px;\n            overflow-y: auto;\n            /* Added to enable vertical scrolling */\n            max-height: 300px;\n            /* Added to limit the height of the container */\n        }\n\n        .chat-messag {\n            margin-bottom: 10px;\n            /* Increase margin-bottom to separate messages more */\n            margin-left: auto;\n            margin-right: auto;\n            padding: 15px;\n            border-radius: 5px;\n            background-color: #7ad33a;\n            /* Set a light blue background color for chat messages */\n            max-width: 350px;\n            /* Set max-width to fit the content */\n            display: flex;\n            /* Use flexbox */\n            align-items: center;\n            /* Center-align vertically */\n            justify-content: center;\n            /* Center-align horizontally */\n            word-wrap: break-word;\n            /* Wrap long words to prevent overflow */\n        }\n\n        .info {\n            background-color: #addbae;\n            color: rgb(0, 0, 0);\n            border-radius: 5px;\n            padding: 10px;\n            /* Adjusted padding for better spacing */\n            margin-bottom: 15px;\n            margin-left: 15px;\n            margin-right: 15px;\n            /* Increased margin bottom for better separation between messages */\n            text-align: center;\n            /* Center-align the payload text */\n            max-width: 350px;\n            /* Set max-width to fit the content */\n            display: inline-block;\n            /* Make it follow text length */\n        }\n\n        .header-gap {\n            height: 20px;\n            /* Adjust the height of the gap */\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"chat-contain\">\n        <div class=\"chat-heade\">\n            <i class=\"fa-brands fa-rocketchat\"></i>\n            AI HELP!!\n        </div>\n        <div class=\"header-gap\"></div>\n        <!-- <div class=\"user-box\">USER1:</div> -->\n        <!-- <div class=\"chat-message info\">what is this</div> -->\n        <div class=\"chat-messag info\">{{msg.question}}</div> <!-- Placeholder text -->\n    </div>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1580,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2a2ca22634355427",
        "type": "function",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "function 10",
        "func": "var check = (msg.payload).slice(0,3);\nif (check == 'ai:'){\n    msg.ai = (msg.payload).slice(3);\n    msg.payload = '';\n} else{\n    msg.payload = msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 820,
        "wires": [
            [
                "b20a19081a9e5542",
                "ab8d47670d0e177a"
            ]
        ]
    },
    {
        "id": "ab8d47670d0e177a",
        "type": "link out",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "16a93045063b5366"
        ],
        "x": 1215,
        "y": 780,
        "wires": []
    },
    {
        "id": "c706fe9e080303dd",
        "type": "link in",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "link in 2",
        "links": [
            "76ec0ca5c4b4f858"
        ],
        "x": 1285,
        "y": 620,
        "wires": [
            [
                "6d135975029ca6d6"
            ]
        ]
    },
    {
        "id": "9842f6bcaffa2905",
        "type": "inject",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "Hello there! How can I assist you today?",
        "props": [
            {
                "p": "question",
                "v": "Hello there! How can I assist you today?",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "6d135975029ca6d6"
            ]
        ]
    },
    {
        "id": "9402cb71b2ddfb21",
        "type": "inject",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "what else can i do!!",
        "payloadType": "str",
        "x": 770,
        "y": 900,
        "wires": [
            [
                "f51269bff761a631"
            ]
        ]
    },
    {
        "id": "a2ae2933e301587d",
        "type": "ui_time_scheduler",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "group": "160f963c18d8e7fe",
        "name": "",
        "startDay": 0,
        "refresh": "30",
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 490,
        "y": 1400,
        "wires": [
            [],
            [
                "d4b771b79d7a34dc"
            ]
        ]
    },
    {
        "id": "5b618286f79fd634",
        "type": "function",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "function 11",
        "func": "if (msg.payload === 'false'){\n    msg.payload = 1;\n    return msg;\n}\n// return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1280,
        "wires": [
            [
                "d4eb819e05b7df1b"
            ]
        ]
    },
    {
        "id": "d4b771b79d7a34dc",
        "type": "file",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "",
        "filename": "/Users/sirapatpanmoon/Desktop/check.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 810,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "cbbbae394190e82e",
        "type": "file in",
        "z": "d397759a8a2699b1",
        "g": "49c78d5bba0ad3f7",
        "name": "",
        "filename": "/Users/sirapatpanmoon/Desktop/check.txt",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "5b618286f79fd634"
            ]
        ]
    },
    {
        "id": "26f3388fc17ef674",
        "type": "google-translate",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "from": "auto",
        "name": "",
        "to": "en",
        "host": "",
        "port": "",
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "6c22b03b10f076b5"
            ]
        ]
    },
    {
        "id": "4743cffcdf4a50fd",
        "type": "google-translate",
        "z": "d397759a8a2699b1",
        "g": "bcd132e5d09884aa",
        "from": "auto",
        "name": "",
        "to": "th",
        "host": "",
        "port": "",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "f51269bff761a631"
            ]
        ]
    },
    {
        "id": "100b08bfc13e7c9d",
        "type": "ui_spacer",
        "z": "d397759a8a2699b1",
        "name": "spacer",
        "group": "a75385d159a54b3c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4b364be228b46755",
        "type": "ui_group",
        "name": "Communicate and AI!!",
        "tab": "7d2cf9bcdb1bbd8e",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84d5462c32478ec4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "160f963c18d8e7fe",
        "type": "ui_group",
        "name": "TIMER OFSD",
        "tab": "bdd8e8b5686b0283",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d2cf9bcdb1bbd8e",
        "type": "ui_tab",
        "name": "MORSE CODE CHAT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bdd8e8b5686b0283",
        "type": "ui_tab",
        "name": "OFSD",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]